body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.dark {
  background-color: #111;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}
